name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.x"
      - name: Extract tag name
        id: tag
        run:
          echo ::set-output name=TAG_NAME::$(echo $GITHUB_REF | cut -d / -f 3)
      - name: Update version in pyproject.toml
        run: >-
          sed -i "s/0.0.0/${{ steps.tag.outputs.TAG_NAME }}/g" pyproject.toml
      - name: Install Poetry package manager
        run: |
          curl -sSL https://install.python-poetry.org | python -
      - name: Authenticate Poetry with PyPi
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_API_TOKEN }}
      - name: Build package with Poetry
        run: |
          poetry build
      - name: Publish package with Poetry
        run: |
          poetry publish
